/* 
    Design by Justin Pascual
    p = primary
*/

$p-color: #222;
$white: #fff;
$low-white: #ffffff66;
$mid-white: #ffffff91;

$p-font: 'Montserrat',
sans-serif;
$s-font: 'Roboto Condensed',
sans-serif;